// XMStyles

animate()
  -webkit-transition all 0.2s ease-in-out
  -moz-transition all 0.2s ease-in-out
  -o-transition all 0.2s ease-in-out
  transition all 0.2s ease-in-out

animation-delay()
  -webkit-animation-delay arguments
  -moz-animation-delay arguments
  -o-animation-delay arguments
  animation-delay arguments

transition()
  -webkit-transition arguments
  -moz-transition arguments
  -o-transition arguments
  transition arguments

transition-duration()
  -webkit-transition-duration arguments
  -moz-transition-duration arguments
  -o-transition-duration arguments
  transition-duration arguments

clearfloat()
	clear both
	float none

cleanlist()
	list-style none
	margin 0
	padding 0

outer-border()
	border border-color 1px solid

rounded-corners()
	-webkit-border-radius 6px
	-moz-border-radius 6px
	border-radius 6px

light-shadow()
	-webkit-box-shadow 0px 0px 5px 0px rgba(0,0,0,0.01)
	-moz-box-shadow 0px 0px 5px 0px rgba(0,0,0,0.01)
	box-shadow 0px 0px 5px 0px rgba(0,0,0,0.01)

dark-shadow()
	-webkit-box-shadow 0px 0px 10px 0px rgba(0,0,0,0.05)
	-moz-box-shadow 0px 0px 10px 0px rgba(0,0,0,0.05)
	box-shadow 0px 0px 10px 0px rgba(0,0,0,0.05)

dark-inset-shadow()
	-webkit-box-shadow 0px 0px 20px 0px rgba(0,0,0,0.1) inset
	-moz-box-shadow 0px 0px 20px 0px rgba(0,0,0,0.1) inset
	box-shadow 0px 0px 20px 0px rgba(0,0,0,0.1) inset

no-select()
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently not supported by any browser */

white-panel()
	background-color white
	overflow hidden
	rounded-corners()
	outer-border()
	// light-shadow()
	// outer-border()
