.hero-container#contact-hero-container
	background-color contact-hero-background-color
	.black-overlay
		background-color contact-hero-overlay-color

.contact-row
	position relative
	margin-top -30px

.contact-tile, .faq-tile
	margin 0 auto
	padding 30px
	text-align left
	white-panel()
	img
		height 60px
		margin-bottom 15px
	h3, p
		margin 0
		padding 0
	h3
		color dark-font-color
		margin 0 0 10px 0
	p, li
		color #777
		font-size 1.1em
		margin 20px 0

	.auth-form
		margin 20px 0 0 0
		.form-group
			.form-control
				margin 0 0 20px 0
				text-align left

.faq-tile
	h4
		margin 20px 0 10px 0
		padding 0
	p
		margin 0
		padding 0
