// XMStyles

.hero-container#home-hero-container
	background-color home-hero-background-color
	background-position home-hero-background-position
	.black-overlay
		background-color home-hero-overlay-color

.about-container
	background-color white
	border-bottom border-color 1px solid
	padding 20px 0
	position relative
	&:before
		content ''
		background-color white
		height 30px
		width 100%
		position absolute
		z-index 1
		top -15px
		-ms-transform skewY(-0.5deg)
		-webkit-transform skewY(-0.5deg)
		transform skewY(-0.5deg)
	.about-summary-tile
		background transparent
		border none
		text-align center
		p
			margin 0 auto
			max-width 400px

.featured-ideas-container
	margin-top 0
	padding 0
