// XMStyles

.navbar
	background-color white
	border none
	border-radius 0px
	height $navbar-height
	position fixed
	top 0
	width 100%
	z-index 999
	&:after
		background-color main-color
		content ""
		height 4px
		margin 0 auto
		opacity 1
		width 100%
		transition(all 0.4s linear)
	transition(all 0.2s linear)
	a.navbar-brand
		color #444
		font-size 24px
		font-weight 300
		height $navbar-height
		line-height $navbar-height
		padding 0 0 0 20px
		transition(color 0.2s linear)
		&:hover
			color main-color
		strong
			font-weight 400
		img
			display none
			height ($navbar-height - 30px)
			margin 15px 10px
			@media(max-width: $grid-float-breakpoint - 1)
				height ($navbar-height - 40px)
				margin 20px 10px
	a.navbar-brand .logo-color
		display block

	.navbar-nav
		margin 0 -15px
		padding 0 -15px
	.navbar-nav > li
		z-index 999
	.navbar-nav > li > a
		color #333
		font-size 14px
		font-weight 500
		line-height $navbar-height
		padding 0 15px
		transition(color 0.2s linear)
		&:hover
			background transparent
			color main-color



.nav .open > a, .nav .open > a:hover, .nav .open > a:focus
	background-color transparent

.navbar-toggle
	border none
	height 40px
	margin (($navbar-height - 40) / 2)
	.icon-bar
		background-color main-color
		animate()
	&:hover
		.icon-bar
			background-color darken(main-color, 20%)

// Transparent fade nav

body.fade-nav
	&.colorful
		.navbar
			background-color white
			a.navbar-brand
				.logo-white
					display none
				.logo-color
					display block
body.fade-nav.transparent
	.navbar
		background-color transparent
		&:after
			opacity 0
			width 0px
		a.navbar-brand
			color white
			line-height $navbar-height
			padding 0 15px
			strong
				color white
			.logo-white
				display block
			.logo-color
				display none
		.navbar-nav
			margin 0 -15px
			padding 0 -15px
		.navbar-nav > li > a
			color white
			line-height $navbar-height
			transition(color 0.2s linear)
			&:hover
				background transparent
				color alpha(white, 0.8)
		.navbar-toggle
			border none
			height 40px
			margin (($navbar-height - 40) / 2)
			.icon-bar
				background-color white
			&:hover
				.icon-bar
					background-color alpha(white, 0.8)

.dropdown-menu
	border none
	top auto
	margin 0
	overflow visible
	padding 0
	@media(min-width: $grid-float-breakpoint)
		&:before
			content ''
			top -4px
			right 20px
			position absolute
			border-style solid
			border-width 0 15px 4px 15px
			border-color white transparent
	li a
		background-color white
		color #444
		padding 18px 20px 18px 20px !important
		&:hover
			background #f2f2f2
			color #222

@media(max-width: $grid-float-breakpoint - 1)
	.navbar
		.navbar-collapse
			border-bottom main-color 4px solid
			position fixed
			top $navbar-height - 4px
			left 0
			right 0
			overflow scroll
			bottom 0
			&:after
				background-color white
				content ""
				height 4px
				margin 0 auto
				opacity 1
				width 100%
				transition(all 0.4s linear)
		li a
			background-color white !important
			color #444 !important
			line-height 70px !important
			padding 0 40px !important
			&:hover
				background-color #f2f2f2 !important
