// XMStyles

.page-header
	background-color white
	border-bottom-color border-color
	margin 0
	padding 40px 20px
	position relative
	text-align center
	.main-title
		font-size 32px
		font-weight 500
		margin 0
		padding 5px 10px
		word-wrap break-word
	.sub-title
		margin 0
		padding 10px
		word-wrap break-word
	a
		color main-color
	&.colorful
		background-color main-color
		border none
		.main-title, .sub-title, a
			color white

	@media(max-width: $screen-sm-max)
		padding 20px
		.main-title
			font-size 26px

.white-controls-row
	background white !important
	border-bottom border-color 1px solid
	.view-controls-container
		border none !important
