// XMStyles

.profile-nav
	border-bottom border-color 1px solid
	ul
		list-style none
		margin 0
		padding 0
		li
			border transparent 1px solid
			border-bottom border-color 1px solid
			float left
			margin 0
			padding 0
			position relative
			bottom -1px
			transition(all .5s linear)
			a
				color #aaa
				font-size 15px
				line-height 44px
				padding 10px 20px
				&:hover
					color main-color
					text-decoration none
			&.active
				background white
				border border-color 1px solid
				border-bottom white 1px solid
				a
					color main-color
