// XMStyles

.action-buttons
	.btn
		border none
		color white
		font-size 16px
		margin-bottom 10px
		padding 12px 24px
		width 100%
		&:hover
			cursor pointer
	.btn-primary
		background-color main-color
		&:hover
			background-color darken(main-color, 10%)
	.btn-warning
		background btn-warning-color
		&:hover
			background-color darken(btn-warning-color, 10%)

.temp-design-button
	display none
