// XMStyles

.btn
	border none
	border-radius 2px
	font-size 16px
	padding 12px 28px
	transition(all 0.1s linear)
	&.btn-primary
		background-color main-color
		&:hover
			background-color darken(main-color, 10%)
	&.btn-link
		background-color transparent
		font-size 14px
	&.btn-facebook
		background-color facebook-color
		color white
		i
			color white
		&:hover
			background-color darken(facebook-color, 10%)
	&.btn-linkedin
		background-color linkedin-color
		color white
		i
			color white
		&:hover
			background-color darken(linkedin-color, 10%)
	&.btn-shibboleth
		background-color shibboleth-color
		color white
		i
			color white
		&:hover
			background-color darken(shibboleth-color, 10%)
