// XMStyles

.flash
	background main-color
	box-shadow 0px 5px 5px rgba(0, 0, 0, 0.05)
	color white
	font-size 1.2em
	line-height 40px
	padding 0 10px
	position fixed
	text-align center
	z-index 1000
	top 80px
	left 0px
	right 0px
	.flash-dismiss
		height 40px
		width 40px
		position absolute
		top 0
		right 0
		text-align center
		i
			color white
			line-height 40px

	&.flash-success
		background-color flash-success-color
		color white
		.flash-dismiss
			&:hover
				cursor pointer
				background-color flash-success-color

	&.flash-warning
		background-color flash-warning-color
		color white
		.flash-dismiss
			&:hover
				cursor pointer
				background-color flash-warning-color

	&.flash-danger
		background-color flash-danger-color
		color white
		.flash-dismiss
			&:hover
				cursor pointer
				background-color flash-danger-color
