.hero-container
	background-color hero-background-color
	background-size cover
	background-position center
	background-repeat no-repeat
	padding 170px 20px 150px 20px
	position relative
	margin-top -20px
	&.shallow
		padding 120px 20px 80px 20px
	.text-container
		padding 0 30px
		position relative
		z-index 1
		text-align center
		h1
			color white
			font-weight bold
			margin 0 auto 30px auto
			max-width 600px
		button
			background main-color
			border none
			border-radius 6px
			color white
			font-size 18px
			font-weight normal
			margin 0 auto
			outline 0
			padding 8px 24px
			text-align center
			animate()
			&:hover
				background-color white
				color dark-font-color
		&.text-left
			text-align left
			h1
				font-size 42px
				margin 0 0 50px 0
				max-width 640px

	.black-overlay
		background-color hero-overlay-color
		position absolute
		top 0
		bottom 0
		left 0
		right 0
		z-index 0
