citylit.eventmovement.co.uk {

	root /var/www/citylit/public
	tls citylit@eventmovement.co.uk

	proxy /wss/ workspace:8094 {
		transparent
		websocket
	}

	fastcgi / php-fpm:9000 php {
		except /wss
		index index.php
	}

	rewrite {
		if {path} not_has /wss
		r .*
		ext /
		to /index.php?{query}
	}

	log /var/log/caddy/access.log
	errors /var/log/caddy/error.log
}
