stanley.launchspot.co.uk {

	root /var/www/stanley/public
	tls stanley@launchspot.co.uk

	fastcgi / php-fpm:9000 php {
		index index.php
	}

	rewrite {
		if {path} not_has /wss
		r .*
		ext /
		to /index.php?{query}
	}

	log /var/log/caddy/access.log
	errors /var/log/caddy/error.log
}

c4d.launchspot.co.uk {

	root /var/www/create4dementia/public
	tls create4dementia@launchspot.co.uk

	fastcgi / php-fpm:9000 php {
		index index.php
	}

	rewrite {
		if {path} not_has /wss
		r .*
		ext /
		to /index.php?{query}
	}

	log /var/log/caddy/access.log
	errors /var/log/caddy/error.log
}

ssc.eventmovement.co.uk {

	root /var/www/ssc/public
	tls ssc@eventmovement.co.uk

	fastcgi / php-fpm:9000 php {
		index index.php
	}

	rewrite {
		if {path} not_has /wss
		r .*
		ext /
		to /index.php?{query}
	}

	log /var/log/caddy/access.log
	errors /var/log/caddy/error.log
}

eventmovement.co.uk {

	root /var/www/master/public
	tls info@eventmovement.co.uk

	fastcgi / php-fpm:9000 php {
		index index.php
	}

	rewrite {
		if {path} not_has /wss
		r .*
		ext /
		to /index.php?{query}
	}

	log /var/log/caddy/access.log
	errors /var/log/caddy/error.log
}

create.eventmovement.co.uk {

	root /var/www/citylit/public
	tls create@eventmovement.co.uk

	fastcgi / php-fpm:9000 php {
		index index.php
	}

	rewrite {
		if {path} not_has /wss
		r .*
		ext /
		to /index.php?{query}
	}

	log /var/log/caddy/access.log
	errors /var/log/caddy/error.log
}

citylit.eventmovement.co.uk {

        redir https://create.eventmovement.co.uk

        log /var/log/caddy/access.log
        errors /var/log/caddy/error.log
}
