#### Production ####

gateway.eventmovement.co.uk {

	root /var/www/gateway
	tls gateway@eventmovement.co.uk

	proxy /Shibboleth.sso apache2:8080 {
		#insecure_skip_verify
		transparent
	}

    proxy / apache2:8080 {
		#insecure_skip_verify
		transparent
	}

	fastcgi / php-fpm:9000 php {
		except /Shibboleth.sso
		index shibboleth.php
	}

	log /var/log/caddy/access.log
	errors /var/log/caddy/error.log
}

eventmovement.co.uk {

	root /var/www/master/public
	tls info@eventmovement.co.uk

	proxy /wss/ workspace:8090 {
		transparent
		websocket
	}

	fastcgi / php-fpm:9000 php {
		except /wss
		index index.php
	}

	rewrite {
		if {path} not_has /wss
		r .*
		ext /
		to /index.php?{query}
	}

	log /var/log/caddy/access.log
	errors /var/log/caddy/error.log
}

demo.eventmovement.co.uk {

	root /var/www/demo/public
	tls demo@eventmovement.co.uk

	proxy /wss/ workspace:8091 {
		transparent
		websocket
	}

	fastcgi / php-fpm:9000 php {
		except /wss
		index index.php
	}

	rewrite {
		if {path} not_has /wss
		r .*
		ext /
		to /index.php?{query}
	}

	log /var/log/caddy/access.log
	errors /var/log/caddy/error.log
}

library.eventmovement.co.uk {

	root /var/www/library/public
	tls library@eventmovement.co.uk

	proxy /wss/ workspace:8092 {
		transparent
		websocket
	}

	fastcgi / php-fpm:9000 php {
		except /wss
		index index.php
	}

	rewrite {
		if {path} not_has /wss
		r .*
		ext /
		to /index.php?{query}
	}

	log /var/log/caddy/access.log
	errors /var/log/caddy/error.log
}

ssc.eventmovement.co.uk {

	root /var/www/ssc/public
	tls ssc@eventmovement.co.uk

	proxy /wss/ workspace:8093 {
		transparent
		websocket
	}

	fastcgi / php-fpm:9000 php {
		except /wss
		index index.php
	}

	rewrite {
		if {path} not_has /wss
		r .*
		ext /
		to /index.php?{query}
	}

	log /var/log/caddy/access.log
	errors /var/log/caddy/error.log
}

citylit.eventmovement.co.uk {

	root /var/www/citylit/public
	tls citylit@eventmovement.co.uk

	proxy /wss/ workspace:8094 {
		transparent
		websocket
	}

	fastcgi / php-fpm:9000 php {
		except /wss
		index index.php
	}

	rewrite {
		if {path} not_has /wss
		r .*
		ext /
		to /index.php?{query}
	}

	log /var/log/caddy/access.log
	errors /var/log/caddy/error.log
}

selfharmony.launchspot.co.uk {

	root /var/www/selfharmony/public
	tls selfharmony@launchspot.co.uk

	proxy /wss/ workspace:8095 {
		transparent
		websocket
	}

	fastcgi / php-fpm:9000 php {
		except /wss
		index index.php
	}

	rewrite {
		if {path} not_has /wss
		r .*
		ext /
		to /index.php?{query}
	}

	log /var/log/caddy/access.log
	errors /var/log/caddy/error.log
}

create4dementia.launchspot.co.uk {

	root /var/www/create4dementia/public
	tls create4dementia@launchspot.co.uk

	proxy /wss/ workspace:8096 {
		transparent
		websocket
	}

	fastcgi / php-fpm:9000 php {
		except /wss
		index index.php
	}

	rewrite {
		if {path} not_has /wss
		r .*
		ext /
		to /index.php?{query}
	}

	log /var/log/caddy/access.log
	errors /var/log/caddy/error.log
}

create4dementia.co.uk {

	redir https://create4dementia.launchspot.co.uk?s=new

        log /var/log/caddy/access.log
        errors /var/log/caddy/error.log
}

c4d.launchspot.co.uk {

	redir https://create4dementia.launchspot.co.uk{uri}
}

www.launchspot.co.uk {

	redir https://launchspot.co.uk{uri}
}

launchspot.co.uk {

	redir https://create4dementia.launchspot.co.uk{uri}

	root /var/www/launchspot/public
	tls info@launchspot.co.uk

	redir https://create4dementia.launchspot.co.uk{uri} 307

	fastcgi / php-fpm:9000 php {
		except /wss
		index index.php
	}

	rewrite {
		if {path} not_has /wss
		r .*
		ext /
		to /index.php?{query}
	}

	log /var/log/caddy/access.log
	errors /var/log/caddy/error.log
}

#### Development ####

gateway.local:80 {
	root /var/www/gateway
	tls off
	## start of new
	proxy /Shibboleth.sso apache2:8080 {
		#insecure_skip_verify
		transparent
	}
	## end of new
    proxy / apache2:8080 {
		#insecure_skip_verify
		transparent
	}
	fastcgi / php-fpm:9000 php {
		except /Shibboleth.sso
		index shibboleth.php
	}
	log /var/log/caddy/access.log
	errors /var/log/caddy/error.log
}

xm.local:80 {

	root /var/www/xmovement/public
	tls off

	proxy /wss/ workspace:8090 {
		transparent
		websocket
	}

	fastcgi / php-fpm:9000 php {
		except /wss
		index index.php
	}

	rewrite {
		if {path} not_has /wss
		r .*
		ext /
		to /index.php?{query}
	}

	log /var/log/caddy/access.log
	errors /var/log/caddy/error.log
}

master.local:80 {

	root /var/www/master/public
	tls off

	proxy /wss/ workspace:8090 {
		transparent
		websocket
	}

	fastcgi / php-fpm:9000 php {
		except /wss
		index index.php
	}

	rewrite {
		if {path} not_has /wss
		r .*
		ext /
		to /index.php?{query}
	}

	log /var/log/caddy/access.log
	errors /var/log/caddy/error.log
}

demo.local:80 {

	root /var/www/demo/public
	tls off

	proxy /wss/ workspace:8091 {
		transparent
		websocket
	}

	fastcgi / php-fpm:9000 php {
		except /wss
		index index.php
	}

	rewrite {
		if {path} not_has /wss
		r .*
		ext /
		to /index.php?{query}
	}

	log /var/log/caddy/access.log
	errors /var/log/caddy/error.log
}

library.local:80 {

	root /var/www/library/public
	tls off

	proxy /wss/ workspace:8092 {
		transparent
		websocket
	}

	fastcgi / php-fpm:9000 php {
		except /wss
		index index.php
	}

	rewrite {
		if {path} not_has /wss
		r .*
		ext /
		to /index.php?{query}
	}

	log /var/log/caddy/access.log
	errors /var/log/caddy/error.log
}

ssc.local:80 {

	root /var/www/ssc/public
	tls off

	proxy /wss/ workspace:8093 {
		transparent
		websocket
	}

	fastcgi / php-fpm:9000 php {
		except /wss
		index index.php
	}

	rewrite {
		if {path} not_has /wss
		r .*
		ext /
		to /index.php?{query}
	}

	log /var/log/caddy/access.log
	errors /var/log/caddy/error.log
}

citylit.local:80 {

	root /var/www/citylit/public
	tls off

	proxy /wss/ workspace:8094 {
		transparent
		websocket
	}

	fastcgi / php-fpm:9000 php {
		except /wss
		index index.php
	}

	rewrite {
		if {path} not_has /wss
		r .*
		ext /
		to /index.php?{query}
	}

	log /var/log/caddy/access.log
	errors /var/log/caddy/error.log
}

launchspot.local:80 {

	root /var/www/launchspot/public
	tls off

	proxy /wss/ workspace:8095 {
		transparent
		websocket
	}

	fastcgi / php-fpm:9000 php {
		except /wss
		index index.php
	}

	rewrite {
		if {path} not_has /wss
		r .*
		ext /
		to /index.php?{query}
	}

	log /var/log/caddy/access.log
	errors /var/log/caddy/error.log
}

selfharmony.local:80 {

	root /var/www/selfharmony/public
	tls off

	proxy /wss/ workspace:8095 {
		transparent
		websocket
	}

	fastcgi / php-fpm:9000 php {
		except /wss
		index index.php
	}

	rewrite {
		if {path} not_has /wss
		r .*
		ext /
		to /index.php?{query}
	}

	log /var/log/caddy/access.log
	errors /var/log/caddy/error.log
}

create4dementia.local:80 {

	root /var/www/create4dementia/public
	tls off

	proxy /wss/ workspace:8096 {
		transparent
		websocket
	}

	fastcgi / php-fpm:9000 php {
		except /wss
		index index.php
	}

	rewrite {
		if {path} not_has /wss
		r .*
		ext /
		to /index.php?{query}
	}

	log /var/log/caddy/access.log
	errors /var/log/caddy/error.log
}
