.translation-search-element
	input
		line-height 54px
		border none
.translations-container

	ul
		cleanlist()
		li.translation
			cleanlist()
			ul.translation-row
				cleanlist()
				border-bottom border-color 1px solid
				li
					box-sizing border-box
					float left
					line-height 40px
					padding 10px 25px
					&.translation-state
						padding-right 0
						text-align center
						width 30px
						i.fa.fa-check-circle
							color success-color
					&.translation-key
						overflow hidden
						white-space nowrap
						width 220px
						.translation-group
							color #999
					&.translation-value
						border-left border-color 1px solid
						padding 0
						width calc((100% - 220px - 40px) / 1)
						textarea
							background transparent
							border none
							border-radius 0
							box-sizing border-box
							display block
							font-size 14px
							height 100%
							line-height 30px
							margin 0
							overflow auto
							resize none
							width 100%
					&.translation-key-header
						font-weight bold
						padding-right 0
						width calc(220px + 30px)
					&.translation-value-header
						border-left border-color 1px solid
						font-weight bold
						width calc((100% - 220px - 30px) / 1)
