.inspiration-info-dialogue
	background-color main-color
	margin-top 30px
	padding 14px 16px
	border-radius 6px
	color white
	font-size 1.2em
	@media(max-width: 987px)
		font-size 1.1em
		margin-top 15px

.inspirations-container
	max-width 1500px
	padding 0 30px
	@media(max-width: 987px)
		padding 0 15px
	.isotope, .isotope-item
		transition-duration(0 !important)

.side-panel.inspirations-side-panel
	.side-panel-box
		color #666
		font-size 18px
		margin-top 30px
		text-align center
		white-panel()
		@media(max-width: 987px)
			margin-top 15px
		.side-panel-box-header
			border-bottom border-color 1px solid
			margin 0 15px
			padding 15px 0px
		.side-panel-box-content
			padding 15px
			button
				background-color main-color
				color white
				display block
				line-height 24px
				text-align center
				width 100%
				&:hover
					background-color darken(main-color, 10%)
					cursor pointer

		&.info-box
			.side-panel-box-content
				p
					color #999
					font-size 14px
					margin 0 0 15px 0
					padding 0

		&.submission-box
			.dropzone-container
				border border-color 1px solid
				border-radius 5px
				overflow hidden
				padding 0
				margin-bottom 10px
				.dropzone
					.dz-message
						font-size 15px
			form
				margin-top 15px
				.input-wrapper
					margin-bottom 15px
					input, textarea
						border border-color 1px solid
						border-radius 5px
						display block
						font-size 15px
						line-height 26px
						margin 0 0 15px 0 !important
						padding 10px 15px
						width 100%
						&:focus
							outline 0

			ul.submission-type-selector
				cleanlist()
				height 46px
				overflow hidden
				li
					cleanlist()
					border-bottom transparent 3px solid
					box-sizing border-box
					color #999
					float left
					line-height 43px
					margin-top 3px
					width 25%
					animate()
					&:last-child
						border-right none
					&:hover
						color #666
						cursor pointer
					&.selected
						border-bottom main-color 3px solid
						color main-color
						&:active
							background-color main-color
