// XMStyles

.view-controls-container
	border-bottom border-color 1px solid
	.search-bar-wrapper
		border border-color 1px solid
		display inline-block
		margin 10px 5px
		overflow hidden
		padding-left 50px
		position relative
		@media(max-width: 568px)
			display block
		.search-bar-button
			border-right border-color 1px solid
			left 0
			line-height 40px
			position absolute
			top 0
			text-align center
			width 50px
			transition(all 0.2s linear)
			&:hover
				background-color border-color
				cursor pointer
		.search-bar
			border none
			box-sizing border-box
			display block
			line-height 20px
			margin 0 5px
			padding 10px 20px
			width 260px
			@media(max-width: 568px)
				width 100%
			&:focus
				outline 0

	.module-controls
		list-style none
		margin 0
		padding 0

		.module-control
			display block
			float left
			text-align center
			min-width 30px
			@media(max-width: 568px)
				display block
				margin 0 5px
				// width 100%
				&:last-child
					margin-bottom 0
			a, button
				background transparent
				border none
				color #666
				display block
				line-height 40px
				margin 10px 0
				padding 0 20px
				text-decoration none
				text-align center
				transition(all 0.2s linear)
				i
					margin 0 5px
				@media(max-width: 768px)
					padding 0 10px
					.control-label
						display none
			&:hover
				// border main-color 1px solid
				a, button
					// background light-grey
					color main-color
			&.active
				a, button
					background main-color
					border-radius 6px
					color white
			form button
				width 100%

.module-description
	margin 20px 5px 0 5px
	padding-left 74px
	position relative
	.module-description-user
		background-color border-color
		background-size cover
		background-repeat no-repeat
		background-position center
		border-radius 32px
		height 64px
		width 64px
		position absolute
		left 0
		top 0
	.description-text
		background main-color
		border-radius 6px
		color white
		display inline-block
		font-size 17px
		min-height 65px
		min-width 120px
		padding 20px
		position relative
		word-wrap break-word
		&:after
			content: "";
			position: absolute;
			top: 22px;
			left: -10px;
			border-style: solid;
			border-width: 10px 10px 10px 0;
			border-color: transparent main-color;
			display: block;
			width: 0;
			z-index: 1;
