// XMStyles

.vote-container, .design-task-vote-container
	.vote-count
		color #999
		font-weight bold
	&.positive-vote .vote-count
		color success-color
	&.negative-vote .vote-count
		color danger-color
	.vote-button
		i
			color #999
		&:hover
			cursor pointer
		&.vote-up
			&:hover i, &.voted i
				color success-color
		&.vote-down
			&:hover i, &.voted i
				color danger-color
