// XMStyles

.dialog
	background-color white
	border border-color 1px solid
	border-radius 4px
	overflow hidden
	margin 40px 10px 20px 10px
	padding 20px 10px
	text-align center
	h3
		color main-color
		margin 10px 0px 20px 0px
		padding 0
	p
		color #666
		margin 0px 20px
		padding 0
	hr
		margin 20px 10px 0px 10px
	.col-sm-4
		margin 0
		padding 0

.button-container
	margin 10px
	text-align center
	button
		margin 20px auto

.user-panel
	background-color #f9f9f9
	border border-color 1px solid
	border-radius 4px
	overflow hidden
	margin 20px 10px 0px 10px
	padding 0
	input
		background-color #f9f9f9
		border none
		font-size 16px
		padding 10px 15px
		width 100%
		&:first-child
			border-bottom border-color 1px solid
