// XMStyles

.banner-row
	background-color white
	color #333
	margin-top -20px
	padding 20px
	position relative
	a
		color #333

.column
	margin-top 30px
	@media(max-width: $screen-md-min)
		margin-top 15px

.main-column
	.notification
		background main-color
		border-radius 6px
		color white
		margin 15px 15px 0 15px
		padding 12px 15px
		position relative
		&.design-phase-notification:before
			left 33%
		&.proposal-phase-notification:before
			left 66%
		p
			color white
			font-size 16px
			line-height 20px
			margin 0
			padding 0

	.idea-section
		white-panel()
		overflow visible
		&.padded
			padding 20px
	.section-header
		height 60px
		margin 30px 10px 0 10px
		h2
			float left
			font-size 1.4em
			font-weight 400
			line-height 60px
			margin 0
			padding 0
		a
			float right
			font-size 1.0em
			font-weight 400
			line-height 60px
			margin 0
			padding 0
	.idea-media
		background-color border-color
		background-position center
		background-repeat no-repeat
		background-size cover
		border-top-left-radius 6px
		border-top-right-radius 6px
		height 0
		overflow hidden
		padding-bottom 40%
		position relative
	p.idea-description
		font-size 16px
		margin 0
		padding 20px
		word-wrap break-word

.side-column
	.creator-tile
		margin-bottom 15px
		padding 20px
		text-align center
		z-index 1
		rounded-corners()
		white-panel()
		transition(all linear 0.2s)
		.creator-avatar
			background-color border-color
			background-position center
			background-size cover
			background-repeat no-repeat
			border white 2px solid
			border-radius 60px
			margin 5px auto
			height 120px
			width 120px
			animate()
		h4
			color #444
			font-size 1.5em
			line-height 20px
			margin 0
			padding 10px 10px
			word-wrap break-word
		h5
			color #999
			font-size 16px
			margin 0
			padding 5px 10px

		&:hover
			cursor pointer
			.creator-avatar
				border-color main-color

	.stats-tile
		list-style none
		margin 0 0 15px 0
		padding 0
		text-align center
		white-panel()
		transition(all linear 0.2s)
		h3
			font-size 42px
			font-weight bolder
			margin 0
			padding 20px 20px 5px 20px
			animate()
		h5
			color #999
			font-size 16px
			margin 0
			padding 5px 20px 20px 20px
		.stats-tile-footer
			background main-color
			color white
			display none
			margin 0 10px 10px 10px
			padding 5px 10px
			rounded-corners()
			&.visible
				display block
			p
				margin 0
				padding 0
		.supporters-tile-inner
			&:hover
				cursor pointer
				h3
					color main-color
		ul.sidebar-social-links
			cleanlist()
			background white
			border-top border-color 1px solid
			box-sizing border-box
			li
				cleanlist()
				box-sizing border-box
				float left
				font-size 20px
				height 50px
				line-height 50px
				text-align center
				width 25%
				animate()
				i
					color #999
					animate()
				&:hover
					cursor pointer
					i
						color white
				&.share-fb:hover
					background-color facebook-color
					border-color facebook-color
				&.share-twitter:hover
					background-color twitter-color
					border-color twitter-color
				&.share-googleplus:hover
					background-color googleplus-color
					border-color googleplus-color
				&.share-email:hover
					background-color #4875B4
					border-color #4875B4

	.info-tile
		list-style none
		margin 0
		padding 0
		text-align center
		.info-tile-content
			padding 6px 10px
			p
				color #999
				margin 0
				padding 0
				i
					color #999
					margin-right 6px

	&.mobile-sidebar
		margin-top 15px
		// .creator-tile
		// 	display none

.first-to-add
	text-align center
	a
		color #CCC
		font-size 18px
		line-height 120px
		margin 0
		padding 0

.design-tasks-container
	margin-bottom 20px
	.design-tasks-wrapper
		.xmovement-tile
			padding 0
			.tile-footer
				display none
			&:nth-child(1)
				padding 0 15px 0 0
			&:nth-child(2)
				padding 0 15px
			&:nth-child(3)
				padding 0 0 0 15px
			.proposal-tile
				margin 0

.proposals-container
	margin-bottom 20px
	.proposals-wrapper
		.col-md-4
			padding 0
			&:nth-child(1)
				padding 0 15px 0 0
			&:nth-child(2)
				padding 0 15px
			&:nth-child(3)
				padding 0 0 0 15px
			.proposal-tile
				margin 0

.tenders-container
	margin-bottom 20px
	.tenders-wrapper
		.col-md-6
			padding 0
			&:nth-child(1)
				padding 0 15px 0 0
			&:nth-child(2)
				padding 0 0 0 15px
			.tender-tile
				margin 0
				padding-bottom 60px
				.lower-section
					display none
				.tile-footer ul li:first-child
					text-align center
