.floating-page-tile.blog-post-tile
	padding 30px 30px 20px 30px

	.author-container
		background white
		min-height 50px
		padding 0
		padding-left 60px
		position relative
		.author-avatar
			background-color border-color
			background-position center
			background-size cover
			background-repeat no-repeat
			border-radius 50%
			height 50px
			width 50px
			position absolute
			left 0
			top 0
		.author-details
			display inline-block
			margin 5px 0
			padding 0
			.author-header
				font-weight bold
				line-height 20px
			.author-subheader
				color #999
				line-height 20px
