.comments-section
	&.with-border
		overflow hidden
		rounded-corners()
		outer-border()
	.post-comment-container, .post-reply-container
		background white
		min-height 50px
		padding 20px
		padding-left 80px
		position relative
		@media(max-width: $screen-sm-max)
			padding-left 20px
		&.post-comment-container
			display none
		&.post-reply-container
			padding-bottom 16px
			position relative
			margin-left -40px
		.user-avatar
			background-color border-color
			bacground-position center
			background-size cover
			background-repeat no-repeat
			border-radius 50%
			height 50px
			width 50px
			position absolute
			left 20px
			top 20px
			@media(max-width: $screen-sm-max)
				display none
		.comment-composer-wrapper
			button.post-comment-button
				background very-light-grey
				border border-color 1px solid
				border-radius 4px
				bottom 33px
				line-height 34px
				padding 0 20px
				right 28px
				position absolute
				animate()
				.action-label
					display block
				.action-icon
					display none
				.idle-state
					display block
				.posting-state
					display none
				&.posting
					.posting-state
						display block
						background main-color
						border-color main-color
					.idle-state
						display none
				&:hover
					background main-color
					border-color main-color
					cursor pointer
					span
						color white
				@media(max-width: $screen-sm-max)
					padding 0 10px
					width auto
					.action-label
						display none
					.action-icon
						display block
			textarea
				background-color white
				border border-color 1px solid
				border-radius 6px
				box-sizing border-box
				margin 0
				line-height 30px
				outline 0
				resize none
				padding 10px 120px 10px 15px
				width 100%
				@media(max-width: $screen-sm-max)
					padding-right 40px
				&:active
					outline 0

		&.post-reply-container
			.comment-composer-wrapper
				button.post-comment-button
					bottom 24px

	ul.comments-container
		cleanlist()
		li.comment
			cleanlist()
			background white
			border-bottom border-color 1px dashed
			margin 0
			padding 15px 20px 15px 75px
			position relative
			word-break break-word
			&:last-child
				border-bottom none
			.user-avatar
				background-color border-color
				bacground-position center
				background-size cover
				background-repeat no-repeat
				border-radius 50%
				height 40px
				width 40px
				position absolute
				left 20px
				top 20px
			.comment-header
				margin 0
				padding 0
				.created-timestamp
					color #CCC
					margin-left 2px
				.reply-header
					color #CCC
					margin-left 5px

			.comment-body
				color #444
				font-size 15px
				margin 5px 0
				padding 0
			.comment-footer
				min-height 20px
				margin 0
				padding 0
				.comment-action-button
					border-left border-color 1px solid
					color #CCC
					font-size 13px
					float left
					line-height 20px
					padding 0 12px
					animate()
					&.report-comment-button
						.idle-state
							display block
						.reported-state
							display none
						&.reported
							.reported-state
								display block
								color danger-color
							.idle-state
								display none
					&:hover
						cursor pointer
						color main-color
					&.reported:hover
						color danger-color
						cursor default

				.comment-vote-container
					float left
					margin-right 10px
					.vote-controls
						height 20px
						.vote-count
							color #CCC
							display inline-block
							line-height 20px
							text-align center
							min-width 24px
						&.positive-vote .vote-count
							color main-color
						&.negative-vote .vote-count
							color danger-color
						.vote-button
							i
								color #CCC
							&:hover
								cursor pointer
							&.vote-up
								&:hover i, &.voted i
									color main-color
							&.vote-down
								&:hover i, &.voted i
									color danger-color
						.vote-button
							color #CCC
							display inline-block
							height 20px
							width 20px
							line-height 20px
							text-align center
							i
								font-size 20px
								position relative
							&:hover
								cursor pointer
			.post-reply-container
				display none
			.comment-replies
				cleanlist()
				position relative
				margin-left -40px
				li.comment
					border-bottom none
					padding-bottom 0

a.sign-in-required
	color #CCC
	display block
	font-size 18px
	line-height 120px
	margin 0
	padding 0
	text-align center
