.admin-container
	padding 30px 0 !important
	.admin-panel
		margin-bottom 15px
		padding 0

ul.progression-selector
	cleanlist()
	li
		cleanlist()
		box-sizing border-box
		float left
		text-align center
		width calc(100% / 3)
		@media(max-width: $screen-sm-max)
			width 100%
		.inner-wrapper
			border border-color 1px solid
			margin 10px
			overflow hidden
			padding 10px
			position relative
			h5
				font-weight bold
				margin 10px
				padding 0
			p
				display none
				&.progression-type-description
					color #999
					display block
					margin 10px 10px 50px 10px
					padding 0
			button
				background-color #e9e9e9
				border none
				border-radius 6px
				bottom 10px
				left 10px
				right 10px
				color #999
				line-height 32px
				padding 0 16px
				position absolute
				width calc(100% - 20px)
				animate()
				&:hover
					background-color darken(#e9e9e9, 10%)
					color darken(#999, 10%)
		&.selected
			.inner-wrapper button
				background-color main-color
				color white
				&:hover
					background-color darken(main-color, 10%)


.add-admin-form-container
	padding 0
	.form-group
		position relative
		&:last-child
			margin-bottom 0
		.form-control
			margin 0
			max-width 100%
		input
			margin 0
			text-align left
			width 100%
		.searching-users
			height 57px
			line-height 57px
			position absolute
			bottom 0px
			right 0px
			width 57px
			text-align center
			i
				color #999
	.add-admin-search
		text-align left
	ul.user-results
		cleanlist()
		li
			cleanlist()
			border-bottom border-color 1px solid
			height 50px
			padding-left 15px
			position relative
			animate()
			&:last-child
				border-bottom none
			&.user-search-result
				padding-left 55px
			p
				color #444
				font-size 15px
				line-height 50px
				margin 0
				padding 0
			.admin-avatar
				border transparent 2px solid
				border-radius 50%
				position absolute
				top 5px
				left 5px
				overflow hidden
				height 40px
				width 40px
				animate()
				.avatar-wrapper
					position relative
					text-align center
					.avatar
						background-size contain
						background-position center
						background-repeat no-repeat
						height 40px
						margin 0 auto
						width 40px
					.add-overlay
						background-color white
						border-radius 50%
						line-height 40px
						display none
						position absolute
						text-align center
						top 0
						bottom 0
						left 0
						right 0
						animate()
						i.fa.fa-plus
							color main-color
							font-size 18px
			&.user-search-result:hover
				background-color main-color
				cursor pointer
				.admin-avatar
					border-color white
					overflow hidden
					.avatar-wrapper
						.avatar
							display none
						.add-overlay
							display block
							i.fa.fa-plus
								color white
				p
					color white
	&.has-results
		.add-admin-search
			border-bottom none
			border-bottom-left-radius 0px
			border-bottom-right-radius 0px
