// XMStyles

.info-panel
	background-color white
	border-radius 6px
	margin 0 auto
	max-width 460px
	min-width 320px
	padding 20px 30px
	text-align center
	.btn
		margin 5px 5px
	h5
		color #999
		font-size 18px
		font-weight normal
		margin-top 10px
	p
		color #333
		font-size 16px
		margin-bottom 20px
	@media(max-width 460px)
		border-radius 0px
		padding 40px 30px 10px 30px
