// XMStyles

.tile.proposal-tile
	background white
	border border-color 1px solid
	display block
	height 280px
	margin 0 auto 30px auto
	max-width 360px
	overflow hidden
	position relative
	.avatar-wrapper
		padding-top 15px
		position relative
		text-align center
		.avatar
			background-color border-color
			background-size cover
			background-position center
			background-repeat no-repeat
			border-radius 50%
			margin 0 auto
			height 80px
			width 80px
	.tile-body
		background #fff
		overflow hidden
		padding 20px
		text-align center
		transition(all linear 0.2s)
		h5
			color #333
			font-size 15px
			line-height 20px
			margin-top 0
			height 40px
			overflow hidden
			padding-top 0
			word-break break-word
		p
			color #999
			white-space nowrap

	.tile-footer
		background white
		border-top border-color 1px solid
		color white
		padding 0
		position absolute
		bottom 0
		text-align center
		width 100%
		transition(all 0.2s linear)
		a
			color #999
			display block
			line-height 50px
		&:hover
			background-color main-color
			border-top main-color 1px solid
			cursor pointer
			a
				color white
				text-decoration none
	.winner-banner
		color #fff
		font-size 12px
		position absolute
		top 20px
		right -120px
		background-color success-color
		padding 4px 20px
		z-index 2
		text-align center
		width 300px
		-ms-transform rotate(45deg)
		/* IE 9 */
		-webkit-transform rotate(45deg)
		/* Chrome, Safari, Opera */
		transform rotate(45deg)
