// XMStyles

.help-block
	color danger-color

.proposal-preview-column
	.tip.proposal-tip
		background-color white
		border border-color 1px solid
		border-radius 12px
		margin 10px auto 0 auto
		padding 15px
		position relative
		text-align left
		h2
			color #999
			font-size 1.3em
			margin 0 0 5px 0
			padding 0
		p
			color #999
			font-size 1.0em
			margin 0
			padding 0
		.close-button
			color #999
			position absolute
			top 0
			right 0
			height 50px
			line-height 50px
			text-align center
			width 50px
	form
		text-align center
	ul.proposal-preview
		background-color white
		border border-color 1px solid
		list-style none
		margin 30px auto
		overflow hidden
		padding 0
		text-align center
		li
			list-style none
			&.proposal-item
				border-bottom border-color 1px dashed
				margin 0
				padding 30px
				position relative
				text-align center
				transition('background-color' 0.2s linear)
				i.fa.fa-trash-o
					color #CCC
					position absolute
					right 10px
					top 10px
					&:hover
						cursor pointer
						color danger-color
				i.fa.fa-external-link
					color #CCC
					position absolute
					right 6px
					top 11px
					&:hover
						cursor pointer
						color main-color
				i.fa.fa-pencil
					color #CCC
					position absolute
					right 75px
					top 11px
					&:hover
						cursor pointer
						color main-color
				&.sortable
					i.fa.fa-external-link
						right 40px
				&:first-child
					border-bottom border-color 1px dashed
				&:last-child
					border-bottom none
				&.ui-sortable-helper
					background-color white
					border border-color 1px solid
				.name-header
					font-size 16px
					font-weight bold
					margin-bottom 10px
				p
					margin 0
					padding 0
				p.proposal-item-details
					border border-color 1px solid
					border-radius 6px
					display inline-block
					margin 10px auto 0 auto
					max-width 600px
					padding 10px 20px
					text-align center

				textarea.proposal-item-details
					border border-color 1px solid
					border-radius 6px
					display none
					height 40px
					margin 10px 0 0 0
					min-height 40px
					max-width 600px
					padding 10px
					resize none
					text-align center
					width 400px
					outline 0 !important
				&.proposal-text-container
					padding-top 20px
					h3
						color #666
						font-size 15px
						margin 0 0 20px 0
						padding 0
					textarea
						border border-color 1px solid
						border-radius 6px
						height 80px
						margin 0
						min-height 80px
						padding 10px
						resize none
						text-align left
						width 100%
						outline 0 !important
					input
						border border-color 1px solid
						border-radius 6px
						margin 0
						padding 10px
						text-align center
						max-width 400px
						width 100%
						outline 0 !important
				&.user-header
					padding-bottom 20px
					h3
						margin 0 0 10px 0
						padding 0
					p
						color #BBB
					.avatar-wrapper
						position relative
						text-align center
						.avatar
							background-color border-color
							background-size cover
							background-position center
							background-repeat no-repeat
							border-radius 50%
							height 80px
							margin 0 auto
							width 80px
							@media(min-width: $screen-sm-min)
								height 80px
								width 80px
			&.proposal-footer

				.proposal-vote-container
					.vote-count
						color #999
						font-weight bold
					&.positive-vote .vote-count
						color success-color
					&.negative-vote .vote-count
						color danger-color
					.vote-button
						i
							color #999
						&:hover
							cursor pointer
						&.vote-up
							&:hover i, &.voted i
								color success-color
						&.vote-down
							&:hover i, &.voted i
								color danger-color
				.proposal-vote-container
					line-height 60px
					.voting-locked
						color #999
						line-height 60px
						text-align center
						width 30px
					.vote-controls
						height 60px
						.vote-count
							display inline-block
							line-height 60px
							text-align center
							width 30px
						.vote-button
							display inline-block
							height 30px
							width 40px
							line-height 30px
							text-align center
							i
								position relative
							&:hover
								cursor pointer
	.add-content
		display inline-block
		margin-bottom 20px
		padding 20px
		i
			color #CCC
			transition(all 0.2s linear)
		&:hover
			cursor pointer
			i
				color main-color
